body{
  position:relative !important;
  max-width:400px  !important;
  margin:auto  !important; 
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.9)  !important;
  display:block !important
  }
  
div{
  max-width:400px;
  }
